  <div class="absolute inset-0 flex flex-col items-center justify-center h-full bg-zinc-900">
    <main class="flex items-center justify-center size-full mb-12">
      <%= link_to '#' do %>
        <%= image_tag 'restricted.png', class: 'cursor-pointer h-96', alt: 'Access restricted' %>
      <% end %>

    </main>

    <footer class="py-12">
      <p class="font-extralight font-sans text-sm text-zinc-500">
        Unauthorized entrants will be subject to imprisonment, Title 18, U.S.C, ยง 1030
      </p>
    </footer>
  </div>
